
/* Estilo para o container do formulário */
.form {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 480px;
  margin: 0 auto;
  padding: 10px;
  background-color: #dbdbdb;
  border-radius: 5px;
  
}


.form-left-full {
  flex: 1 1 100%;
  position: relative;
}
.form-left {
  flex: 1 1 35%;
  position: relative;
  
}


/* Estilo para o título do formulário */
  .h2 {
  font-size: 18px;
  margin-bottom: 8px;
  text-align:center;
  margin-left: 10px;
}

/* Estilo para os rótulos e campos do formulário */

.form-left-todo input {
  display:flex;
  width: 428px;

}
.form-left-todo {
  display:flex;
  width:100%;
}
input, label {
  display: block;
  font-size: 16px;
  width: 190px;
  padding: 9px;;
  border-radius: 5px;
  font-size: 16px;

}
input {
  border: 0.9px solid gray ;

}

/* Estilo para o botão do formulário */

.form-btn {
  display:flex;
  margin: 0 auto;
  gap:2rem;
}

 .form-btn button {
  color: #808040;
  text-align:center;
  justify-content:center;
  display: flex;
  width: 79px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.form-btn button:hover{
  background-color: #4f9d9d;
}

.fechar {
  color:#951c43;
  cursor:pointer;
  text-align:center;
  padding:0;
}

.fechar:hover {
  color:#ff2222;
}

